global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'instance']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'telegram-notifications'

receivers:
- name: 'telegram-notifications'
  telegram_configs:
  - bot_token: '8551078624:AAE3SbTMQ8T09pc_lHaGNIOJFymzcClXrSo'
    chat_id: 945947192
    parse_mode: 'HTML'
    message: '{{ range .Alerts }}<b>[{{ .Status | toUpper }}]</b> {{ .Labels.alertname }}
    <i>Instance:</i> {{ .Labels.instance }}
    <i>Description:</i> {{ .Annotations.description }}
    {{ end }}'
    send_resolved: true

inhibit_rules:
  - source_matchers:
      - severity = critical
    target_matchers:
      - severity = warning
    equal: ['alertname', 'instance']
